<h1>Thanks for your interest in Room <%= @room.number %>!</h1>

<% unless @guests.empty? %>
  <section>
    <h2>Below are all prior reservations that have been made for this room:</h2>

    <% @guests.each do |guest| %>
      <p> <%= "#{guest.first_name} #{guest.last_name}" %> </p>
    <% end %>
  </section>
<% end %>


<section>
  <% if @room.open? %>
    <%= form_for @reservation do |f| %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit %>
    <% end %>
  <% else %>
    <h4>This room is currently booked.</h4>
  <% end %>
</section>
